{% block content %}

<h1>Login</h1>

{% if messages %}
    {% for message in messages %}
        <h6 id="message">{{ message }}</h6>
    {% endfor %}
{% endif %}

<body class="text-center">
  <form method="POST">
    {% csrf_token %}
    <div>
        <label for="user_name">UserName:</label>
        <input name="username" type="text" id="user_name" maxlength="50" required>
    </div>
    <br>
    <div>
        <label for="user_password">Password:</label>
        <input type="password" id="user_password" name="password" maxlength="50" required>
    </div>
    <button type="submit">Login</button>
    <br>
    New to the app? <a href="{% url 'signup' %}">Sign up here</a>
  </form>
</body>

{% endblock %}
